
// body color
$body-color: #FFFFFF;

// accent color + BUILT IN COLOR FUNCTION
$red: rgb(243,74,74);

// font colors
$nav-font-color: #FFFAFA;
$text-color: #181716;
$sub-text-color: grey;
