
// 100% widht height
$full-width: 100%;
$full-height: 100%;

$full-viewport: 100vw;
$full-viewport-height: 100vh;

// font size 
$medium-size: 20px;

// font style
$roboto: 'Roboto', sans-serif;

// font weight
$medium-font-weight: 500;

//image size
$offer-img: 120px;
$carousell-img: 125px;

// Border radius
$br-50: 50px;

// cover
$cover: cover;

// flex / block
$flex: flex;
$block: block;

// center

$center: center;